<%- include('header') %>
    <h1><%= title %></h1>
    <p>
        <button class="get-dad-joke-btn">
            Hear a dad joke!
        </button>
    </p>
    <p class="dad-joke">

    </p>
<%- include('footer') %>
